.primary-button,
.secondary-button {
  box-shadow: none;

  border: 1px solid #00df81;
  border-radius: 50px;

  padding: 8px 24px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-size: rem(14);
  font-weight: 600;
  line-height: rem(24.8);

  text-align: center;
  text-decoration: none;

  transition: color 0.3s ease-out, background-color 0.3s ease-out,
    border-color 0.3s ease-out !important;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1) !important;

  &:disabled {
    cursor: not-allowed;

    border-color: var(--system-disabled);
    color: var(--text-white);
    background-color: var(--system-disabled);

    &:hover,
    &:focus {
      border-color: inherit;
      color: inherit;
      background-color: inherit;
    }
  }
}

.primary-button {
  background-color: var(--bg-new-button);
  border-radius: 50px;
  text-decoration: none;
  padding: 16px 28px;
  color: var(--Button-Primary-Text-text-default, #000) !important;
  text-align: center;
  font-family: "Sofia Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;

  img {
    // display: none;
    opacity: 1;
    // position: absolute;
    // margin-right: -134px;
    transition: 0.4s;
  }

  // &:hover img {
  //   transition: 0.4s;
  //   opacity: 1;
  //   // display: block;
  // }

  // &:hover {
  //   // padding-right: 50px;
  //   gap: 8px;
  //   color: var(--pure-white);
  //   transition: 0.7s !important;
  // }

  // &:disabled {
  //   cursor: not-allowed;

  //   border-color: var(--system-disabled);
  //   color: var(--text-white);
  //   background-color: var(--system-disabled);

  // &:hover,
  // &:focus {
  //   border-color: inherit;
  //   color: inherit;
  //   background-color: inherit;
  // }
}

.secondary-button {
  border-color: var(--bg-new-button);
  color: #0b453a;
  background-color: transparent;

  &:hover {
    border-color: var(--text-secondary-01-var-1);
    color: var(--text-secondary-01-var-1);
    background-color: transparent;
  }

  &:focus {
    border-color: var(--text-secondary-01-var-2);
    color: var(--secondary-01-default);
    background-color: var(--text-secondary-01-var-2);
  }

  &:disabled {
    cursor: not-allowed;

    border-color: var(--system-disabled);
    color: var(--system-disabled);
    background-color: transparent;

    &:hover,
    &:focus {
      border-color: inherit;
      color: inherit;
      background-color: inherit;
    }
  }
}

.button-test {
  display: flex;
  align-items: center;
  // gap: 10px;
  // padding: 12px 15px;
  // border-radius: 10px;
  // border: none;
  // overflow: hidden;
  // background: rgb(164, 46, 194);
  // color: #fff;
}

.button-text {
  transform: translateX(15px);
  // font-size: 1.5em;
  // font-weight: 700;
  transition-duration: 0.3s;

  margin-bottom: 0px !important;
  padding: 0px;
  margin: 0px;

  // border-color: #007245;
  color: var(--pure-white);
  // background-color: #007245;
  border-radius: 2px;
  font-weight: 200;
  transition: 0.7s !important;
  gap: 8px;
  width: fit-content !important;
}

.iconer {
  transform: translateY(35px);
  transition-duration: 0.3s;
  color: white;

  opacity: 0;
}

.button-test:hover .button-text {
  transform: translateX(0px);
}

.button-test:hover .iconer {
  transform: translateY(0px);

  opacity: 1;
}

input#BTLgpd_Evolua_Priv {
  width: fit-content !important;
  background: #004d2b !important;
  padding: 10px 20px !important;
}

.button {
  transition: 0.4s ease-in-out;
}

.swiper-button-next {
  transition: 0.4s;

  &:hover {
    transition: 0.4s;
    transform: scale(1.1);
  }
}

.swiper-button-prev {
  transition: 0.4s;

  &:hover {
    transition: 0.4s;
    transform: scale(1.1);
  }
}

//effect

// .slide:hover,
// .slide:focus {
//   box-shadow: inset 25em 0 0 0 var(--color);
// }

// .offset {
//   box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);

//   &:hover,
//   &:focus {
//     box-shadow: 0 0 0 0 var(--color), inset 6em 3.5em 0 0 var(--color);
//   }
// }
// $colors: (
//   slide: #46B261,
// );

// @each $button, $color in $colors {
//   .#{$button} {
//     --color: #{$color};
//     --hover: #{adjust-hue($color, 45deg)};
//   }
// }

// .slide {
//   transition: 0.7s;
//   text-decoration: none;

//   &:hover,
//   &:focus {
//   }
// }
