[data-theme="dark"]{
	background-color: #1D1D1D;

	// Font Family

	// Text Colors

	--text-color: #FFFFFF;

	--text-white: #FFFFFF;
	--text-black: #FFFFFF;

	--text-primary-01-default: #FFFFFF;
	--text-primary-01-var-1: #FFFFFF;
	--text-primary-01-var-2: #FFFFFF;

	--text-secondary-01-default: #FFFFFF;
	--text-secondary-01-var-1: #FFFFFF;
	--text-secondary-01-var-2: #FFFFFF;

	--text-grey-scale-00: #FFFFFF;
	--text-grey-scale-01: #FFFFFF;
	--text-grey-scale-02: #FFFFFF;
	--text-grey-scale-03: #FFFFFF;
	--text-grey-scale-04: #FFFFFF;
	--text-grey-scale-05: #FFFFFF;

	--text-grey-scale-c4: #FFFFFF;

	--text-disabled: #FFFFFF;

	// Solid Colors

	--pure-white: #1D1D1D;
	--pure-black: #1D1D1D;

	--primary-01-default: #1D1D1D;
	--primary-01-var-1: #1D1D1D;
	--primary-01-var-2: #1D1D1D;

	--secondary-01-default: #1D1D1D;
	--secondary-01-var-1: #1D1D1D;
	--secondary-01-var-2: #1D1D1D;

	--grey-scale-00: #1D1D1D;
	--grey-scale-01: #1D1D1D;
	--grey-scale-02: #1D1D1D;
	--grey-scale-03: #1D1D1D;
	--grey-scale-04: #1D1D1D;
	--grey-scale-05: #1D1D1D;
	--grey-scale-06: #1D1D1D;
	--grey-scale-07: #1D1D1D;
	--grey-scale-F2F2: #1D1D1D;

	--system-disabled: #BFBFBF;


	--system-link: #1A0DAB;
	--system-link-visited: #1B1466;
	--system-negative: #D23A20;
	--system-alert: #ECB307;
	--system-positive: #1E986F;

}