.termos-condicoes {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;

  li {
    a {
      font-size: 14px;
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #666666 !important;
      font-family: var(--font-sans) !important;

      &:hover {
        text-decoration: underline;
      }
    }

    &:not(:last-child) {
      a {
        gap: 8px;
        margin-right: 8px;

        &::after {
          content: "";
          width: 1px;
          height: 9px;
          // background-color: var(--text-white);
          background-color: #7b7b7b;
          display: block;
        }
      }
    }
  }
}

.voltar-topo {
  display: flex;
  gap: 10px;
  align-items: center;

  color: #666666;
  text-decoration: none;
  font-size: 14px !important;
  font-family: var(--font-sans);
  font-weight: 400;
  line-height: 19.6px;
  word-wrap: break-word;
}

@media (max-width: 768px) {
  .footer-fixed .top-footer-fixed {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
}

@media (max-width: 450px) {
  .termos-condicoes {
    display: grid;
    grid-template-columns: auto auto;
  }
}

@media (max-width: 364px) {
  .termos-condicoes {
    grid-template-columns: auto;
  }

  .termos-condicoes li:not(:last-child) a::after {
    display: none;
  }
}

@media (max-width: 1659px) {
  footer {
    // padding: 64px 0px !important;

    .container {
      // padding: 0 !important;
    }
  }

  .footer-content {
    display: flex;
    gap: 24px !important;
  }

  .footer-list .contents-list .itens p {
    // font-size: 14px !important;
  }

  .footer-list .contents-list:first-child {
    padding: 0px;
    padding-right: 0px !important;
  }

  .footer-list .contents-list .title h6 {
    // font-size: 15px !important;
  }

  .footer-end {
    width: 100% !important;
  }

  .footer-list .contents-list .itens {
    width: 114px !important;
  }

  .cadastro-footer {
    width: 100% !important;
  }

  .social-footer {
    flex-direction: column;
  }
}
