@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.eot?8yr2di");
  src: url("../fonts/icomoon/icomoon.eot?8yr2di#iefix")
      format("embedded-opentype"),
    url("../fonts/icomoon/icomoon.ttf?8yr2di") format("truetype"),
    url("../fonts/icomoon/icomoon.woff?8yr2di") format("woff"),
    url("../fonts/icomoon/icomoon.svg?8yr2di#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Bw Seido Raw";
  src: url("../../fonts/Bw-Seido-Raw-family/woff2/BwSeidoRaw-Thin.woff2");
  font-weight: 200;
}

@font-face {
  font-family: "Bw Seido Raw";
  src: url("../../fonts/Bw-Seido-Raw-family/woff2/BwSeidoRaw-Regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Bw Seido Raw";
  src: url("../../fonts/Bw-Seido-Raw-family/woff2/BwSeidoRaw-Medium.woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Bw Seido Raw";
  src: url("../../fonts/Bw-Seido-Raw-family/woff2/BwSeidoRaw-Light.woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Bw Seido Raw";
  src: url("../../fonts/Bw-Seido-Raw-family/woff2/BwSeWidoRaw-Bold.woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Bw Seido Raw";
  src: url("../../fonts/Bw-Seido-Raw-family/woff2/BwSeidoRaw-Black.woff2");
  font-weight: 900;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-aumentar-fonte:before {
  content: "\e909";
  color: #1d1d1d;
  font-size: 20px;
}
.icon-arrow-down:before {
  content: "\e900";
  color: #fff;
}
.icon-arrow-left:before {
  content: "\e901";
  color: #4d4d4d;
}
.icon-arrow-right:before {
  content: "\e902";
  color: #1358bf;
}
.icon-busca:before {
  content: "\e903";
  color: #007245;
}
.icon-contraste:before {
  content: "\e904";
  color: #1d1d1d;
  font-size: 20px;
}
.icon-diminuir-fonte:before {
  content: "\e905";
  color: #1d1d1d;
}
.icon-exibir:before {
  content: "\e906";
  // color: #fff;
  color: #00ff33;
}
.icon-alerts:before {
  content: "\e907";
  color: #fff;
}
.icon-site:before {
  content: "\e908";
  color: #fff;
}
